<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verax</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

</head>

<body>
<!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <a class="navbar-brand text-success logo h1 align-self-center" href="accueil.html"> Verax</a>
    </nav>
    <!-- Close Top Nav -->

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container d-flex justify-content-between align-items-center">

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                {% if userRole == 'Utilisateur' or userRole == 'Redacteur' or userRole == 'Moderateur' or userRole == 'Admin' %}
                <div class="nav-item ml-auto">
                    <form action="index.php?action=AccessAccount" method="POST">
                        <input type="submit" value="Compte">
                    </form>
                </div>
                {% endif %}

                {% if userRole == 'Visiteur' or userRole == null%}
                <div>
                    <form action="index.php?action=seConnecter" method="POST">
                            <input type="submit" value="Connexion">
                    </form>
                </div>
                {% endif %}
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <!--<a class="nav-link" href="{{ accueil.html }}">Accueil</a>-->
                            <form action="index.php?action=accueil" method="POST">
                                <input type="submit" value="accueil">
                            </form>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="{{ economie }}">Economie</a>-->
                            <form action="index.php?action=economie" method="POST">
                                <input type="submit" value="economie">
                            </form>
                        </li>
                        <li class="nav-item">
                            <!--<a class="nav-link" href="{{ culture.html }}">Culture</a>-->
                            <form action="index.php?action=culture" method="POST">
                                <input type="submit" value="culture">
                            </form>
                        </li>
                        <li class="nav-item">
                            <!--<a class="nav-link" href="{{ politique.html }}">Politique</a>-->
                            <form action="index.php?action=politique" method="POST">
                                <input type="submit" value="politique">
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faitsDivers.html">Faits Divers</a>
                        </li>
                        <li>
                            {% if userRole == 'Admin'%}
                                <form action="index.php?action=GestionUser" method="POST">
                                    <input type="submit" value="Admin">
                                </form>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="nav-item ml-auto">
                    <!--<a class="nav-link" href="{{ contact.html }}">Contact</a>-->
                    {% if userRole != 'Visiteur' and userRole != null%}
                        <form action="index.php?action=contact" method="POST">
                            <input type="submit" value="contact">
                        </form>
                    {% endif %}
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Recherchez votre Article">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!-- Close Header -->
</body>
</html>